/* Put in index.css or a global stylesheet */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Outfit', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}